// + Colors
// -------

// backgrounds

$c-brand-primary:            #3f3a60;
$c-brand-secundary:          #6aaae4;
$c-deep-bg:                  #221c33;
$c-soundtrack-bg-b:          #e4e4e4;
$c-memories-bg-b:            #e4e4e4;
$c-groupotions-bg:           #FFFFFF;
$c-events-bg:                #FFFFFF;
//-------------------------------------

$man-bg-gradient-one:        #2AC5B6;
$wn-bg-gradient-one:         #003473;
$wn-bg-gradient-two:         #08BDAB;

//ui Kit

$common-btn:           #EF7A53;
$secundary-button:     #5AD3DF;
$main-header:          rgba(0, 52, 115,0.86);
$main-footer:          $c-brand-primary;


// texts

$input-color1:          #6C6C6C;
$input-color2:          #666666;
$p-join-color:          #285C58;
$t-join-color:          #154E85;
$ps-t-join-color:       #FF7E54;
$man-title-color:       #FAFAFA;
$tc-gpc-color:          #235286;
$default-text1:         #FFFFFF;

// borders

$forms-color:          #707070;
$border-regular:       2px 2px 4px rgba(0, 0, 0, 0.4);




// main colours
$c-primary:            #1B1B1B;
$uiKit-background:     #221c33;
$uiKit-fontColor:      $man-title-color;
