@import "../../../../sass/vars-import";

.footer {
    background: $uiKit-background;
    font-family: $f-subtitle;
    color: $default-text1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calculateRem(75px)
}

// newmanBrand
.footerCentribalContainerImg {
    @include container-wrap();
    text-align: center;
}

.footerContainer {
    @include container-wrap();
}



// newsletter

.footerNewsLetter {}

.footerNewsLetterTitle {
    @include font-size($f-size-md-xxl);
    font-family: $f-subtitle;
    font-weight: $f-weight-bold;
    margin: calculateRem(60px) 0 calculateRem(14px);
    text-align: center;
    line-height: 1.1;
}

.footerNewsLetterForm {
    display: flex;
    flex-direction: column;
    align-items: center
}

.footerNewsLetterInput {
    @include regularInput();
    max-width: calculateRem(414px);
    margin-bottom: calculateRem(15px);
}

.footerNewsLetterSubmit {
    @include regularButton($w: 100%);
    max-width: calculateRem(414px);
}

//contactMe
.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerContactMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: calculateRem(75px) 0;
}

.footerContactMeChanels {
    margin-bottom: calculateRem(23px);
}

.footerContactMeChanelsItem {
    display: flex;
    align-items: center;
    padding: calculateRem(2.5px) 0;
}

.footerContactMeChanelsImg {
    margin-right: calculateRem(13px);
}

.footerContactMeSocialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footerContactMeSocialMediaItem {
    &:first-child {
        margin-right: calculateRem(15px);
    }
}

.footerContactMeSocialMediaImg {}

// copyright

.footerCopyRigth {
    @include container-wrap();
    @include font-size($f-size-sm);
    padding-top: calculateRem(18px);
    padding-bottom: calculateRem(22px);
    background: $c-brand-secundary;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    line-height: 1.3;    
}

.footerCopyRigthTerms {}

.footerCopyRigthPoweredBy {
    
}

//[RESPONSIVE]

@media screen and (min-width: $bp-mobile) {
    .footerNewsLetterForm {
        flex-direction: row;
        position: relative;
    }
    .footerContainer {
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .footerNewsLetter {
        max-width: calculateRem(600px);
    }
    .footerContactMe {
        margin-right: calculateRem(55px);
    }
    .footerNewsLetterInput {
        margin-bottom: 0;
        padding-left: calculateRem(220px);
        max-width: 100%;
    }
    .footerNewsLetterSubmit {
        position: absolute;
        max-width: calculateRem(220px);
    }
}

@media screen and (min-width: calculateRem($bp-tablet-landscape-min)) {
    .footer {
        width: 100vw;
        background-color: $uiKit-background;
    }
    .footerCopyRigth {
        max-width: 100vw;
        background-color:  $c-brand-secundary;
    }
}

@media screen and (min-width: calculateRem($container-max-width)) {
    .footerCentribalContainerImg {
        text-align: left;
    }
    .footerCentribalImg {
        margin-left: calculateRem(217px);
    }
}


:export {
    footer: footer;
    footerContainer: footerContainer;
    footerCentribalContainerImg: footerCentribalContainerImg;
    footerCentribalImg: footerCentribalImg;
    footerNewManDescription: footerNewManDescription;
    footerNewsLetter: footerNewsLetter;
    footerNewsLetterTitle: footerNewsLetterTitle;
    footerNewsLetterForm: footerNewsLetterForm;
    footerNewsLetterInput: footerNewsLetterInput;
    footerNewsLetterSubmit: footerNewsLetterSubmit;
    footerContactMe: footerContactMe;
    footerContactMeChanels: footerContactMeChanels;
    footerContactMeChanelsItem: footerContactMeChanelsItem;
    footerContactMeChanelsImg: footerContactMeChanelsImg;
    footerContactMeChanelsLabel: footerContactMeChanelsLabel;
    footerContactMeSocialMedia: footerContactMeSocialMedia;
    footerContactMeSocialMediaItem: footerContactMeSocialMediaItem;
    footerContactMeSocialMediaImg: footerContactMeSocialMediaImg;
    footerCopyRigth: footerCopyRigth;
    footerCopyRigthTerms: footerCopyRigthTerms;
    footerCopyRigthPoweredBy: footerCopyRigthPoweredBy;
}