.table {
    margin-top: calculateRem(45px);
    background-color: $man-title-color;
    border-radius: calculateRem(16px) calculateRem(16px) 0 0;
}
@media screen and (max-width:$bp-mobile) {
    .table__cell.-d {
        display: none;
    }
}