// PAGE MANAGER:

div.HOME-PAGE,
div.DASHBOARD-PAGE,
div.PRODUCTS-PAGE {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

// Pages withOut backtop footer:
div.HOME-PAGE {
    position: relative;
    background: #00222B;

}

//[Unic Styles]
// HOME PAGE
div.DASHBOARD-PAGE {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}


// to wrap the main section class on the pages.
.main-products,
.manage-products {
    @include container-wrap;
    @include centerContent;
}

.main-home  {
    @include container-wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


@media screen and (min-width:$bp-desktop-min) {
    .main-home {
        flex-direction: row;
        align-items: flex-start;
    }
}